body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.container {
  text-align: center;
  margin-top: 50px;
}

.lyrics {
  margin-top: 20px;
  font-size: 18px;
}

.controls button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.turn-table {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background: linear-gradient(90deg, #f0f0f0 0%, #f5f5f5 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* margin-bottom: 30px; */
}

.platter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: radial-gradient(
    circle,
    #102 10%,
    #000 11%,
    #000 15%,
    #102 16%,
    #000 19%,
    #102 20%,
    #000 24%,
    #102 25%,
    #000 29%,
    #102 30%,
    #000 34%,
    #102 35%,
    #000 39%,
    #102 40%,
    #000 44%,
    #102 45%,
    #000 49%,
    #102 50%,
    #000 54%,
    #102 55%,
    #000 59%,
    #102 60%,
    #000 64%,
    #102 65%,
    #000 69%,
    #102 70%,
    #000 74%,
    #102 75%,
    #000 79%,
    #102 80%
  );
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.platter::before {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  animation: spin 2s infinite linear;
}

.platter-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tone-arm {
  position: absolute;
  background-image: url("assets/img/tone-arm.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  top: 5%;
  left: 43%;
  transform: rotate(-15deg);
  /* animation: spin 2s infinite linear; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
